<table>
    <thead>
        <tr>
            <th>제목</th>
            <th>작성일시</th>
        </tr>
    </thead>
    <tbody>
		<!-- th - 타임리프라는 뜻 -->
		<!-- 모델 오브젝의 퀘스천리스틀 달러퀘스천리스트 로 읽어옴 -->
		<!-- 이것을 퀘스쳔 변수에 담음 -->
		<!-- 퀘스천리스트 개수만큼 반복하여 출력하라 -->
		<!-- 자바 포이치문과 비슷 -->
        <tr th:each="question : ${questionList}">
			<!-- 퀘스천리스트의 첫번째 서브젝 출력 -->
			<td>
			<!-- 타임리프에서 유알엘은 반드시 앳마크 브레이스 사이에-->
			<!-- 스트링과 자바오브젝 콜라보는 버티컬바로 감싸안음 -->
			<a th:href="@{|/question/detail/${question.id}|}" th:text="${question.subject}"></a>
			</td>
			<!-- 퀘스천리스트의 첫번째 크리에잇데이트 출력 -->
            <td th:text="${question.createDate}"></td>
        </tr>
    </tbody>
</table>
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->

